.wrap {
	composes: p-6 from global;
    position: relative;
	background: var(--background);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
		0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 40px;
    margin-right: 8px;
}

.header {
	composes: mb-6 from global;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price {
	composes: text text_type_digits-default from global;
	display: flex;
	align-items: center;
	svg {
		margin-left: var(--offset-base-size);
	}
}

.ingredients {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		position: relative;
		width: 64px;
		height: 64px;
		background: var(--background-alt);
		border: 2px solid rgba(128, 26, 178, 1);
		border-radius: 100px;
		padding: 5px;
		box-sizing: border-box;
		+ li {
			margin-left: -20px;
		}
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	span {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background:rgba(0, 0, 0, 0.04);
		border-radius: 100%;
	}
}

.link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
}
