.wrap {
    composes: pt-15 pl-4 from global;
    display: flex;
    flex-direction: column;

    >* {
        margin-right: calc(var(--offset-base-size) * 4);
    }
}

.checkout {
    composes: mt-10 from global;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    :global(.text) {
        display: flex;
        align-items: center;

        svg {
            width: 36px;
            height: 36px;
            margin-left: var(--offset-base-size);
        }
    }
}

.list {
    composes: custom-scroll from global;
    margin: calc(var(--offset-base-size) * 4) 0;
    padding: 0;
    list-style: none;
    position: relative;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: unset;

    >li {
        margin-left: 0;


        +li {
            margin-top: calc(var(--offset-base-size) * 4);
        }
    }
}

.item {
    composes: ml-8 from global;
    display: flex;
    flex: 0;
    align-items: center;
    margin-left: calc(var(--offset-base-size) * 8);
}

.bun, .ingredients {    
    transition: transform 0.23s ease;
}

.dropBun {
    .bun {
        transform: scale(0.9);
    }
}

.dropIngredient {
    .ingredients {
        transform: scale(0.9);
    }
}
