.wrap {
    position: relative;
    text-align: center;
    transition: transform 0.23s ease;

    .counter {
        position: absolute;
        top: 0;
        right: 0;
    }

    &:hover {
        cursor: pointer;

        .image {
            opacity: 0.8;
        }
        
        .name {
            color: var(--colors-interface-accent);
        }
    }

    &.is-dragging {
        opacity: 0.4;
        transform: scale(0.9);
    }
}

.image {
    composes: pl-4 pr-4 pb-1 from global;

    img {
        max-width: 100%;
        height: auto;
    }
}

.price {
    composes: pb-1 text text_type_digits-default from global;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        margin-left: var(--offset-base-size);
    }
}

.name {
    composes: text text_type_main-default from global;
    min-height: calc(var(--offset-base-size) * 10);
}
