.info {
    composes: pl-5 from global;

    :global(.text_type_digits-large) {
        text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
    }
}

.status {
    composes: pb-15 from global;

    display: flex;
    gap: 36px;    
    > div {
        flex: 1;
    }
    ul {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-flow: column;
        padding: 0;
        margin: 0;
        list-style: none;
    }
}
